.aboutContainer{
    background-color: #181818;
    height: 100vh;
    width: 100%;
    position: relative;


}
.aboutImage{
    width: 30vh;
    height: 20vh;
    border-radius: 4vh;
    border-color: #353535;
    border-style: solid;
    border-width: 4px;
    left: 25%;
    top: 20%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.aboutTitle{
    font-family: techLight;
    font-size: 25px;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 35%;
    color: white;



}.aboutTitle1{
     font-family: techMed;
     font-size: 16px;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 25%;
     top: 42%;
    color: white;



 }

.aboutTitle2{
      font-family: techMed;
      font-size: 16px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 25%;
      top: 49%;
    color: white;



  }.aboutTitle3{
       font-family: techMed;
       font-size: 16px;
       position: absolute;
       transform: translate(-50%, -50%);
       left: 25%;
       top: 56%;
       color: white;



   }.aboutTitle4{
        font-family: techMed;
        font-size: 16px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 25%;
        top: 63%;
           color: white;



    }.aboutTitle5{
         font-family: techMed;
         font-size: 16px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 25%;
         top: 70%;
                color: white;



     }
.canvasWrapper{
    width: 70vh;
    height: 45vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 70%;
    top: 50%


}


@media only screen and (max-width: 1520px){
    .aboutImage{
        width: 20vh;
        height: 16vh;
        border-radius: 4vh;
        border-color: #353535;
        border-style: solid;
        border-width: 4px;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        position: absolute;

    }
    .aboutTitle{
        font-family: techLight;
        font-size: 17px;

        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 25%;
        color: white;



    }.aboutTitle1{
         font-family: techMed;
         font-size: 16px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 50%;
             color: white;

         top: 32%;



     }

    .aboutTitle2{
        font-family: techMed;
        font-size: 16px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 38%;
        color: white;



    }.aboutTitle3{
         font-family: techMed;
         font-size: 16px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 50%;
         top: 44%;
             color: white;



     }.aboutTitle4{
          font-family: techMed;
          font-size: 16px;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
                   color: white;



      }.aboutTitle5{
           font-family: techMed;
           font-size: 16px;
           position: absolute;
           transform: translate(-50%, -50%);
           left: 50%;
           top: 56%;
                          color: white;



       }
    .canvasWrapper{
        width: 45vh;
        height: 20vh;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 45%;
        top: 75%;


    }

}
@media only screen and (max-width: 800px){
    .aboutImage{
        width: 18vh;
        height: 13vh;
        border-radius: 4vh;
        border-color: #353535;
        border-style: solid;
        border-width: 4px;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        position: absolute;

    }
    .aboutTitle{
        font-family: techLight;
        font-size: 13px;

        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 23%;
        color: white;



    }.aboutTitle1{
         font-family: techMed;
         font-size: 11px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 50%;
         top: 28%;
             color: white;



     }

    .aboutTitle2{
        font-family: techMed;
        font-size: 11px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 35%;
        color: white;



    }.aboutTitle3{
         font-family: techMed;
         font-size: 11px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 50%;
         top: 42%;
             color: white;



     }.aboutTitle4{
          font-family: techMed;
          font-size: 11px;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 49%;
                   color: white;



      }.aboutTitle5{
           font-family: techMed;
           font-size: 11px;
           position: absolute;
           transform: translate(-50%, -50%);
           left: 50%;
           top: 56%;
                          color: white;



       }
    .canvasWrapper{
        width: 45vh;
        height: 10vh;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 45%;
        top: 72%


    }

}
