.homeContainer{

    height:100vh;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;



}
.HomeImage{
    width: 100%;
    display: inherit;
    position: relative;
    

}


.exitButton{
    background-color: rgba(12,12,12,1) ;
    border-color: rgba(12,12,12,0);
    height: 50px;
    width: 80px;
    align-items: center;

    justify-content: center;

}
.exitButton:hover{
    color: deeppink;
    transition-duration: 700ms;
}
.removeIcon{
    color: inherit;

}


