.navContainer{
    height: 50px;

}

@keyframes navButtons{
    from {color: white}
    to {color: deeppink}
}
.navNameBrand{

    font-size: 35px;
    font-family: Copperplate;
    color: aquamarine;
}
#NavItemName{
    color: white;


}
#NavItemName:hover{
    animation-name: navButtons;
    animation-duration: 750ms;
}

#NavItemName1{
margin-left: 30px;
    color: white;
}
#NavItemName1:hover{
    animation-name: navButtons;
    animation-duration: 750ms;
}
