.navContainer{
    height: 50px;

}

@keyframes navButtons{
    from {color: white}
    to {color: deeppink}
}
.navNameBrand{
transition-duration: 500ms;
    font-size: 35px;
    font-family: Copperplate;
    color: aquamarine;
}
#NavItemName{
    color: white;


}
#NavItemName:hover{
    animation-name: navButtons;
    animation-duration: 750ms;
}

#NavItemName1{
margin-left: 30px;
    color: white;
}
#NavItemName1:hover{
    animation-name: navButtons;
    animation-duration: 750ms;
}

@media only screen and (max-width: 800px){
#NavItemName{
    display: none;
}
    #NavItemName1{
        display: none;
    }
    .navNameBrand{
        font-size: 25px;
        transition-duration:500ms;
    }
}
