.navContainer{
    height: 50px;

}

@keyframes navButtons{
    from {color: white}
    to {color: deeppink}
}
.navNameBrand{

    font-size: 45px;
    font-family: Copperplate;
    color: aquamarine;
}
.NavItemName{
    color: white;


}

.NavItemName1{
margin-left: 30px;
    color: white;
}
